.ui-input-textarea {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  padding-bottom: 18px;;
}

.textarea {
  resize: none;
  height: 140px;
}

.error {
  color: var(--pink-500);
  font-size: 12px;
  position: absolute;
  bottom: 0;
}